<!--The content below is only a placeholder and can be replaced.-->
<div class="yellow-bar topbar animated fadeInLeftBig"></div><div class="black-bar topbar animated fadeInLeftBig"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-white drop-shadow">
  <a class="navbar-brand" href="#"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-content-centre topnav">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  ml-md-auto">
      <a class="nav-item nav-link active" href="/store">Store</a>
      <a class="nav-item nav-link" href="/products">Products & Services</a>
      <a class="nav-item nav-link" href="/help">Help & Support</a>
        <input type="text" id="search">
      <a class="nav-item nav-link" href="/">Personal</a>
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</div>
</nav>

<div class="container">
  <div class="row">
    <div class="column-ms4">
      <div class="mtn-logo" routerLink="/"></div>
    </div> 
    <br/>
    <br/>
    <br/>
<div class="column-ms4"></div>
<div class="column-ms4"></div>
</div>

<div class="row">
  <div class="rm-spacer"></div>
    <div class="column-ms-4"></div>
    <div class="column-ms-4" style="align-content: center;">
  <router-outlet></router-outlet>
      </div>
      <div class="column-ms-4"></div>
      </div>
</div>
